<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{plantilla/base-admin}">

<body>
<div layout:fragment="contenidopaginas">
    <div th:if="${mensajeExito != null}"
         class="alert alert-success alert-dismissible fade show" role="alert">
      <span th:text="${mensajeExito}"></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <h1 th:text="${tituloPagina}">Dashboard</h1>
    <p>Layout base funcionando correctamente.</p>
</div>
</body>
</html>
